.flexbox-list{
  display: flex;
  align-items: stretch;
  margin: 20px;
}
.product-list-item{
  display: flex;
}
.product-list-item:hover{
  box-shadow: inset 0 0 0 3px black;
}
.product-link{
  flex-direction: column;
  display: flex;
}
.image-container{
  display: flex;
}
.text-container{
  display: flex;
  flex: 1 1 auto;
}

.a, .b, .c, .d{
  height: 100px;
  width: 100px;
}


.a{
  background: red;
}
.b{
  background: green;
}
.c{
  background: blue;
}
.d{
  background: orange;
  height: 125px;
}

.down .image-container{
  flex: 1 0 auto;
}