*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexbox-list{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 900px;
}
.product-list-item{
  width: 25%;
  display: flex;
}
.product-list-item:hover{
  box-shadow: inset 0 0 0 3px #e6e6e6;
}
.product-link{
  flex-direction: column;
  display: flex;
}
.image-container{
  display: flex;
}
.product-image{
  width: 200px;
  height: 150px;
}
.text-container{
  display: flex;
  flex: 1 1 auto;
}